/**********************************/
/*******START MOBILE*************/
/**********************************/

/********Header******/
* {
    box-sizing: border-box;
}

aside, div, section, header, footer, nav {
    display: block;
}

html, body, #wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 0;
}

aside, div, section, header, footer, nav, html, body, p, h1, h2, h3, div {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

/*navigation*/
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    float: left;
}

header li + li {
    border-left: 1px solid #fff;
}

header li:last-child {
    border-right: 1px solid #fff;
}

header a {
    display: block;
    width: 100px;
    line-height: 60px;
    color: #fff;
    height: 60px;
    background-color: #525A93;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

header a:hover {
    background-color: #A4ACE4;
}

#nav-desktop {
    display: block;
}

/*on enlève le float sur les liens du menu et on applique une largeur de 100% */
header li {
    float: none;
    width: 100%;
}

/*on enlève la bordure gauche et on applique une bordure sur tous les côtés*/
header li {
    border-left: 0px solid #fff !important;
    border: 1px solid #fff !important;
}

/*on applique sur les liens une largeur de 100% */
header a {
    width: 100%;
}

/*titres*/
h1 {
    font-size: 3em;
    font-weight: normal;
    margin-bottom: .5em;
}

h2 {
    font-size: 2em;
    font-weight: normal;
    margin-bottom: .2em;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 1em;
}

p {
    margin-bottom: 1em;
}

section {
    padding: 30px 1.5%;
    text-align: center;
}

article {
    padding: 1.5%;
    display: inline-block;
    width: 100%;
    background-color: #ececec;
    margin: 1% 0 1%;
}

article p {
    font-size: 1.2em;
    margin-bottom: 1em;
    text-align: justify;
}

/*on rend les images de la section responsive*/
section img {
    max-width: 100%;
}

/*INDEX*************/

.log {
    width: 40px;
    height: 40px;

}

.col-3 > .img-index-tab {
    margin-left: 21%;
    float: none;
}

.col-3 > p {
    text-align: center;
}

.para-index-tab {
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
    width: 600px;

}

/**END INDEX***********/

/*CATALOGUE************/
.cat-img-mobile {
    width: 100%;
}

.tooltip, .masquer {
    position: relative;
    /*z-index: 20;*/
}

.tooltip p, .masquer p {
    display: none;
    padding: 5px;
    line-height: 20px;
}

.tooltip:hover p {
    width: 100%;
    display: block;
    color: #fff;
    /* background : rgba(255,0,0,0.8); */
    background: -webkit-gradient(
            linear,
            left top, left bottom,
            from(#000),
            to(#595959)
    );
    position: absolute;
    top: -56px;
    font-weight: bold;
    /* opacity : 0.8; */
}

.masquer:hover p {
    display: block;
    /* width : 100%; */
    width: 235px;
    position: absolute;
    background: rgba(255, 0, 0, 0.8);
    /* background : -webkit-gradient(
        linear,
        left top, left bottom,
        from(#000),
        to(#595959)
    ); */
    font-weight: bold;
    color: #fff;
}

.comportement-identique .masquer > span {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.comportement-identique .masquer span {
    text-align: justify;
    padding: 5px;
}

.tooltip:hover p span {
    text-decoration: underline;
}

/*END CATALOGUE***********/
/********Footer********/

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer li {
    float: none;
    width: 100%;
}

footer a {
    width: 100%;
}

.icons {
    display: flex;
}

#bloc-nav-footer {
    display: flex;
}

.contact {
    visibility: collapse;
}

.menu-footer {
    width: 48%;

}

.icons a img {
    width: 70px;
}

.menu-footer > nav > ul > li {
    text-align: center;
    box-sizing: border-box;
    border: 10px black;
    background-color: dimgray;
}

/*******CONTACT MOBILE**************/
#iframe_Maps {
    width: 100%;
    height: 10%;
}

div > input {
    width: 100%;
}

div > .id_label {
    visibility: collapse;
}

.id_label_telephone {
    visibility: initial;
}

#id_sexe {
    text-align: center;
}

.class_sexe {
    display: flex;
}

.class_sexe > label {
    width: 0%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

/**********************************************/
/*********START TABLETTE**********************/
/***********************************************/
@media (min-width: 768px) and (max-width: 992px) {

    html {
        background-color: LightBlue;
        margin: 0 auto;
        width: 80%;
    }

    .col-3 > .img-index-tab {
        float: left;
        margin-left: 2%;
    }

    .para-index-tab {
        padding-top: 5%;
        width: 610px;
        height: 100px;
    }

}

/***********************************************/
/**************END TABLETTE******************/
/***********************************************/

/*****************************************/
/*********START DESKTOP***************/
/****************************************/

@media only screen and (min-width: 992px) {

    body {
        margin: 0;
        font-family: Arial, Vernada, sans-serif;
    }

    html {
        font-family: 'Asap', sans-serif;
    }

    header, footer {
        background-color: beige;
        background: -webkit-gradient(linear, left top, left bottom, from(#000), to(beige));
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    h1 {
        text-align: center;
        font-size: 30px;
        padding: 10px;
        text-shadow: 2px 2px 2px black;
    }

    h1:hover {
        text-transform: uppercase;
        color: #30C0FF;
    }

    /* HEADER STYLE */
    .my_header_container {
        display: flex;
        justify-content: space-around;
    }

    /* Style du logo */
    /* end style du logo */
    #logo {
        flex: 1;
    }

    .log {
        width: 80px;
        height: 60px;
        padding: 4px;
    }

    /* style du nav */
    .menu-header {
        flex: 3;
    }

    .menu-header ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
        text-align: center;
    }

    .menu-header ul li {
        /* background-color : red; */
        margin: 2px;
        width: 15%;
        display: inline-block;
        line-height: 80px;
    }

    .menu-header ul li a {
        display: block;
        text-decoration: none;
        color: yellowgreen;
    }

    .menu-header ul li a:hover {
        color: #30C0FF;
        text-decoration: underline;
    }

    /* end style du nav */
    header #logo, header .menu-header {
        /* border : 1px solid black; */
        /* margin : 5px; */
    }

    /* END HEADER STYLE */
    /* FOOTER STYLE */
    footer {
        display: flex;
        color: #fff;
    }

    footer div {
        /* border : 1px solid red; */
        width: 33.3%;
    }

    .bloc-nav-footer {
        display: flex;
        flex-direction: column;
    }

    footer > #bloc-nav-footer > .menu-footer {
        width: 100%;
        /* border : 1px solid green; */
    }

    footer > #bloc-nav-footer > .menu-footer > nav > ul > li {
        width: 27.5%;
        display: inline-block;
        margin: 10px 5px;
    }

    footer > #bloc-nav-footer > .menu-footer > nav > ul > li > a {
        color: #fff;
        text-decoration: none;
    }

    footer > #bloc-nav-footer > .menu-footer > nav > ul > li > a:hover {
        color: #30C0FF;
        text-decoration: underline;
    }

    .menu-footer {
        flex: 1;
    }

    .menu-footer ul {
        list-style: none;
    }

    .icons {
        flex: 2;
    }

    .icons > a > img {
        width: 60px;
        height: 60px;
        margin: 5px;
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact {
        flex: 1;
    }

    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: initial;
    }

    /********INDEX********/
    .para-index-tab {
        padding-left: 5%;
        width: 225px;

    }

    /**********END INDEX*/
    /***************************/
    /*START CONTACT*/
    /***************************/
    #iframe_Maps {
        width: 100%;
        height: 20%;
    }

    div > input {
        width: 70%;
    }

    div > label {
        visibility: initial;
        width: 30%;
    }

    .id_label {

        display: inline-block;
        width: 29%;
        text-align: center;
    }

    .class_sexe > label {
        width: 15%;
    }

    .centrer-button > input {
        margin-left: 15%;
    }

    /************************/
    /******END CONTACT*******/
    /************************/
    /************************/
    /******START Catalogue*****/
    /************************/
    .col-4 {
        float: left;
    }

    .col-4 > img {
        width: 330px;
        height: 320px;
    }

    .col-4 {
        width: 25%;
    }

    .col-4 a img {
        width: 100%;
    }

    .tooltip, .masquer {
        position: relative;
        /*z-index: 20;*/
    }

    .tooltip p, .masquer p {
        display: none;
        padding: 5px;
        line-height: 20px;
    }

    /*.tooltip:hover, .masquer p:hover {*/
    /*z-index: 21;*/
    /*}*/
    .tooltip:hover p {
        width: 100%;
        display: block;
        color: #fff;
        /* background : rgba(255,0,0,0.8); */
        background: -webkit-gradient(
                linear,
                left top, left bottom,
                from(#000),
                to(#595959)
        );
        position: absolute;
        top: -56px;
        font-weight: bold;
        /* opacity : 0.8; */
    }

    .masquer:hover p {
        display: block;
        /* width : 100%; */
        width: 235px;
        position: absolute;
        background: rgba(255, 0, 0, 0.8);
        /* background : -webkit-gradient(
            linear,
            left top, left bottom,
            from(#000),
            to(#595959)
        ); */
        font-weight: bold;
        color: #fff;
    }

    .comportement-identique .masquer > span {
        text-decoration: none;
        font-weight: bold;
        color: #000;
    }

    .comportement-identique .masquer span {
        text-align: justify;
        padding: 5px;
    }

    .tooltip:hover p span {
        text-decoration: underline;
    }

    /************************/
    /******END Catalogue******/
    /************************/
    /************************/
    /******START DETAILS*****/
    /************************/
    /********STAR style tab galery******/
    body {
        margin: 0;
        font-family: Arial;
    }

    /* The grid: Four equal columns that floats next to each other */
    .column {
        float: left;
        width: 25%;
        padding: 10px;
    }

    /* Style the images inside the grid */
    .column img {
        opacity: 0.8;
        cursor: pointer;
    }

    .column img:hover {
        opacity: 1;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* The expanding image container */
    .container {
        position: relative;
        display: none;
    }

    /* Expanding image text */
    #imgtext {
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: white;
        font-size: 20px;
    }

    /* Closable button inside the expanded image */
    .closebtn {
        /*position: absolute;*/
        top: 10px;
        right: 15px;
        color: black;
        font-size: 35px;
        cursor: pointer;
    }

    /********END style tab galery******/
    /*description************/
    #mddescription2 {
        border: 1px solid black;
        /*background-color:brown;*/
        clear: both;
        list-style: none;
        text-align: center;
        border: 4px dotted gainsboro;
        padding: 10px;
        color: black;
    }

    #mdpremierimage {
        border: 10px solid black;
        /* background-color:red; */
        width: 50%;
        display: inline-block;
        margin: 0;
        color: black;
    }

    #mddescription1 {
        border: 2px solid black;
        background-color: brown;
        width: 49%;
        display: inline-block;
        position: absolute;
        top: 40px;
        height: 170px;
        border: 4px dotted gainsboro;
        border-radius: 35px;
    }

    #mdpuce {
        list-style: none;
    }

    #mdfichetechnique {
        border: 1px solid black;
        /* background-color:red; */
        float: left;
        width: 33.3%;
        margin: 0;
        text-align: center;
        height: 300px;
        text-align: center;
        /* background-color:darkcyan; */
        background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#595959));
        color: #fff;
        padding: 10px;

    }

    #mdfichetechnique li {
        list-style: none;
    }

    #mdequipement {
        border: 1px solid black;
        /* background-color:yellow; */
        float: left;
        width: 33.3%;
        margin: 0;
        text-align: center;
        height: 300px;
        color: black;
        padding: 10px;
    }

    #mdequipement li {
        list-style: none;
    }

    #mdaccessoires li {
        list-style: none;
    }

    #mdaccessoires {
        border: 1px solid black;
        /* background-color:green; */
        width: 33.3%;
        margin: 0;
        float: left;
        list-style: none;
        text-align: center;
        height: 300px;
        /* background-color:darkcyan; */
        background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#595959));
        color: #fff;
        padding: 10px;
    }

    #fdetail {
        clear: both;
    }

    /*End description**********/
    /************************/
    /******END DETAILS******/
    /************************/

}